body {
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
}

p {
    font-size: 24px;
}

.black {
    color: black;
}

.header {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.top,
.about,
.projects,
.links,
.header {
    width: 100vw;
}

.top {
    height: 800px;
    background-color: rgb(0, 71, 44);
}

.about {
    height: 600px;
    background-color: rgb(0, 40, 36);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.selfPhoto,
.projectImage {
    width: 400px;
    height: 500px;
    background-color: grey;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    width: 600px;
    height: 400px;
}

.aboutInfo {
    width: 600px;
    height: 85%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutText {
    padding-top: 40px;
}

.project1 {
    height: 600px;
    background-color: rgb(184, 255, 248);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project1Content {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.project1Info {
    border: 2px solid black;
}

.links {
    height: 400px;
    background-color: black;
}